* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.cta-icons-top {
  width: 10%;
  min-height: 50px;
  text-align: center;
}

.cta-icons-top > * {
  color: #1aaca2;
  font-size: 2rem;
}

.parent .hidden-child {
  opacity: 0;
  transition: all 0.5s;
}

.parent:hover .hidden-child {
  opacity: 1;
}

.primary-btn {
  outline: none;
  background-color: transparent;
  border-radius: 50px;
  padding: 8px 25px;
  color: #fff;
  font-size: 1.4rem;
  border: 1px solid #fff;
  transition: 0.7s ease;
  position: relative;
}

.primary-btn:hover {
  color: #1aaca2;
  border: 1px solid #1aaca2;
}

.primary-btn::before {
  position: absolute;
  top: 25%;
  left: 25%;
  content: "";
  width: 52%;
  height: 53%;
  visibility: hidden;
  border-radius: 50px;
  background-color: transparent;
  pointer-events: none;
  transition: 0.2s ease;
}

.primary-btn::after {
  position: absolute;
  top: 50%;
  right: -20px;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #1aaca2;
}

.MuiSvgIcon-fontSizeLarge {
  font-size: 2.1875rem;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.blockquote-footer:before {
  content: "— ";
}

.project-container {
  transition: all 0.5s;
}

.project-container:hover .img-container {
  transform: scale(1.05);
  transition: all 0.5s;
}

.scale-img:hover {
  transform: scale(1.05);
  transition: all 1s;
  cursor: pointer;
}

.rotate-animation {
  animation: rotation 17s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.floating-chat {
  animation: floating1 1s linear infinite alternate;
  cursor: pointer;
}

.floating-chat-icon {
  animation: floating2 1s linear infinite alternate;
  cursor: pointer;
}

@keyframes floating1 {
  from {
    width: 50px;
    height: 50px;
  }
  to {
    width: 0;
    height: 0;
  }
}

@keyframes floating2 {
  from {
    width: 30px;
    height: 30px;
  }
  to {
    width: 0;
    height: 0;
  }
}

.contact-btn {
  min-width: 100px;
  min-height: 35px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgb(79 209 196 / 45%);
  transition: all 0.3s ease-in-out 0s;
  position: relative;
  color: #1aacbe;
  border: 1px solid #1aacbe;
  background-color: transparent;
  border-radius: 50px;
}

.contact-btn:before {
  content: "";
  border-radius: 50px;
  min-width: 108px;
  min-height: 38px;
  border: 6px solid #00ffcb;
  box-shadow: 0 0 15px rgb(0 255 204 / 55%);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
  z-index: 99999;
}

.contact-btn:after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: ring 1.5s infinite;
  animation: ring 1.5s infinite;
  z-index: 99999;
}

.contact-btn:hover::after {
  width: 0;
  height: 0;
  border: none;
  animation: none;
}
.contact-btn:hover::before {
  opacity: 1;
}
.contact-btn:hover {
  transform: translateY(-5px);
  border: none;
  box-shadow: none;
}

@keyframes ring {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(4);
    border: 1px solid #00ffcb;
  }
}

.team-member > div {
  transition: all 3s;
}

.team-member:hover > div:first-child::before {
  content: "=====";
  transform-origin: center;
  border-color: #136e68;
  animation: animate 1s ease-in-out infinite;
}

.team-member:hover > div:nth-child(2) {
  top: -85%;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.team-member::after,
.team-member::before {
  z-index: -1;
}

.team-member {
  background-color: rgb(32 32 32);
  z-index: 20;
}

.flying-avatars > div {
  animation: flyingAvatar 4s linear infinite;
  animation-duration: 8s !important;
}

@keyframes flyingAvatar {
  /* move a div in a circle animation using margin */
  0% {
    margin-top: 0;
    margin-left: 0;
  }
  25% {
    margin-top: 50px;
    margin-left: 5px;
  }
  50% {
    margin-top: 45px;
    margin-left: 50px;
  }
  75% {
    margin-top: 5px;
    margin-left: 50px;
  }
  100% {
    margin-top: 0;
    margin-left: 0;
  }
}
